.*~
*~
**/.*~
**/*~

sprot-*.tar.gz
sprot.pre-git

Makefile
config.h
config.log
config.status
stamp-h1
COPYING
INSTALL
*.in
autom4te.cache
configure
depcomp
install-sh
missing
aclocal.m4

src/*.in
src/.deps/*
src/Makefile
src/*.o
src/sprot
src/sprotcheck
